@font-face {
  font-family: "aileronregular";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/aileron-regular-webfont.woff2") format("woff2"), url("webfonts/aileron-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "aileronheavy";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/aileron-heavy-webfont.woff2") format("woff2"), url("webfonts/aileron-heavy-webfont.woff") format("woff");
}

body
{
	margin: 0;
	font-family: sans-serif;
	background: #eee;
	display: flex;
	max-width: 1600px;
	margin: auto;
	font-family: "aileronregular";
}

#wiki, #pad, #irc
{
	height: 100vh;
	border: none;
}	

#pad
{
	flex: 10 1 800px;
}

#irc
{
	flex: 1 10 550px;
	padding-left: 10px;
	opacity: 0;
}

#left
{
	flex: 1 2 250px;
	padding-top: 0px;
	padding-left: 30px;
}

#left a.logo{
    text-decoration: none;
    color: black;
}

#left .main_title img
{
	width: 3em;
	margin-right: 10px;
}

#left .main_title h1
{
	width: 65%;
	font-weight: normal;
	font-family: "aileronheavy";
	margin: 0;
	display: inline-block;
	margin-bottom: .4em;
}

#left #menu {
padding-bottom:10px;
}

#left img .logout
{
    width: 2em;
}

#left li
{
	font-size: .9em;
	color: #444;
	font-weight: normal;
	cursor: pointer;
	padding: .3em 0em;
	list-style-position: inside;
}

#left li:hover
{
	text-decoration: underline;
}

#left ul
{
	margin: 0;
	padding: 0;
	margin-bottom: .5em;
	margin-left: .3em;
	padding-left: .8em;
	border-left: 1px #aaa solid;
}

#left .folder_title
{
	list-style-type: none;
	font-family: "aileronheavy";
	margin-left: 1.1em;
}

#left .folder_title:before
{
	content: "\25B6";
	position: absolute;
	margin-left: -1.1em;
}

#left .folder_title.open:before
{
	content: "\25BC";
}

#left .page_title, #left .pdf_title
{
	list-style-type: none;
	margin-left: 1.1em;
}

#left .page_title:before
{
	content: "\25C7";
	position: absolute;
	margin-left: -1.1em;
}

#left .page_title.selected
{
	list-style-type: none;
	color: #3399dd;
}

#left .page_title.selected:before
{
	content: "\25C6  ";
}

#left .pdf_title:before
{
	content: "\25AF";
	position: absolute;
	margin-left: -1.1em;
}

#left .pdf_title.selected
{
	list-style-type: none;
	color: #3399dd;
}

#left .pdf_title.selected:before
{
	content: "\25AE  ";
}

#left .folder_title + .folder_content
{
	display: none;
}

#left .folder_title.open + .folder_content
{
	display: block;
}

.hidden
{
  display: none;
}

#option
{
	position: absolute;
	cursor: pointer;
	background: #ddd;
	font-size: .8em;
	color: #888;
}

#option div
{
	padding: .4em 1em;
}

#option div:hover
{
	background: #ccc;
}

#option a
{
	text-decoration: none;
}

#option a:visited
{
	color: #444;
}

#option div:first-child
{
	color: #444;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_form {
 display: none;   
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#content
{
    margin-top: 50px;
    flex: 10 1 800px;
    height: 100vh;
    border: none;
}

#content label{
    display: inline-block;
    float: left;
    clear: left;
    width: 130px;
    text-align: right;
    margin-right: 10px;
}

#content input select {
    display: inline-block;
    float: left;
}

#content .error {
    color:red;
}

#content .text {
width:800px;
margin-left:auto;
margin-right:auto;
}

.level{
    width:1em;
}

.icons{
    width:1em;
}

.button, .button-inactive{
    display: inline-block;
}

.button:hover{
    cursor: pointer;
}

#content .quitButton {
    display: inline-block;
    width:1em;
    background-image: url('icons/cancel.svg');
    background-repeat: no-repeat;
}

#content th {
    text-align: left;
    border-bottom : 1px solid black;
}

#content a {
    text-decoration:underline;
    color: #444;
    font-weight: bold;
}

#left #footer {
    position: fixed;
    bottom:0px;
    margin-bottom:8px;
    background: #eee;
}

#left a {
text-decoration:none;
color: #444;
font-weight: bold;
}
